.component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 1rem;
}

.line {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.feels-like {
    background-color: aqua;
}