<!-- TO DO: Redo key ups for enter. Make DRY -->
<h2>Temperature Calculator</h2>
<form [formGroup]="form">
  <div>
    <label>°F </label>
      <input 
        id ="inputF" 
        type="text" 
        formControlName="fahrenheit"
      >
  </div>
  <div>
    <label>°C </label>
    <input 
      id ="inputC" 
      type="text" 
      formControlName="celsius" 
    >
  </div>
   <div>
    <label>°K </label>
    <input 
      id ="inputK" 
      type="text" 
      formControlName="kelvin" 
    >
  </div>
</form> 

<!-- (keyup.enter)="fromFtoC(form.controls.fahrenheit.value ?? '0')" -->