/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: rgb(39, 37, 37);
  color: white;
  text-shadow: 1px 1px 2px black;
  outline: black;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}